/* adminList.css */

/* Contenedor general */
body {
  background-color: rgb(216, 188, 240);
  margin:0;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  }

.FormContainer {
  display: flex;
  flex-direction:column;
  
}

/* Contenedor del formulario */
.Form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px; /* Agrega un poco de espacio alrededor del formulario */
  background-color: rgb(225, 219, 250);
  padding: 10px;
  margin: 10px;
  height: 500px;
  width: 320px;
  border-radius: 10px;
}

/* Estilos para las etiquetas y entradas de formulario */
.Form label {
  margin-bottom: 10px;
  
}

h3 {
  font-size: 19px;
  font-family: inherit;

}

.imputStyle{
width: 300px;
border-radius: 7px;
}


.buttonForm {
  margin: 30px;
  padding: 2px;
  margin-top: 30px;
  background-color:  rgb(225, 219, 250);
  width: 102px ;
  
}

.listForm{
  background-color: aqua;
  height: 420px;
  width: 680px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(225, 219, 250);
}


.title {
  font-size: 19px;
  font-family: inherit;
  padding: 5px;
  margin: 10px;
  height: 15px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: black solid;

}

.dataUser{
  font-size: 19px;
  font-family: inherit;
  padding: 5px;
  margin: 10px;
  height: 15px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: black solid;
}

